{% extends "base.html" %}

{% block content %}
    <h1>Life and Times of The Experience</h1>
    {% if blogs|length == 0 %}
            <p>No blogs yet!</p>
        {% else %}
            <div>
                {% for blog in blogs %}
                <div class='blog-post'>
                    <a href='/blog?id={{blog.id}}'class='blog-title'><h2>{{blog.title}}</h2></a>
                    <p class='blog-body'>{{blog.body}}</p>
                    <p class='pub-date'>{{blog.pub_date}}</p>
                </div>
                {% endfor%}
            </div>
    {% endif %}
{% endblock %}